Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update etraveli.inline.svg
  src/components/shared/user-community/images/etraveli.inline.svg
Labels: feature

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

docs: fix enhanced images
  src/posts/2026-04-25-understanding-kubernetes-networking/images/cilium-cni.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/encapsulation-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/hubble_sw_service_map.webp
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image4.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image5.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/intra-node-networking.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.svg
  src/posts/2026-04-25-understanding-kubernetes-networking/images/native-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/network-model.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/understanding-kubernetes-networking-cover.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

docs: fix svg to png image
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.svg
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

Improve clarity and grammar in networking article
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

docs: enhanced images & added gateway API
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/gateway-api.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/internal-load-balancing.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/services.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/xdp.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

docs: add Understanding Kubernetes Networking pillar page (#961)
  src/posts/2026-04-25-understanding-kubernetes-networking/images/cilium-cni.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/encapsulation-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/hubble_sw_service_map.webp
  src/posts/2026-04-25-understanding-kubernetes-networking/images/intra-node-networking.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/native-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/network-model.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/utils/author-data.js
Labels: bug, docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

docs: add Understanding Kubernetes Load balancing pillar page (#962)
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/gateway-api.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/internal-load-balancing.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/services.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/understanding-kubernetes-load-balancing-cover.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/xdp.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

docs: add new blogpost about security in cilium
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/cover.png
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
  src/utils/author-data.js
Labels: bug, docs

docs: add new blogpost about security in cilium (#965)
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/cover.png
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
  src/utils/author-data.js
Labels: bug, docs

switch featured
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

Update index.md
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
Labels: docs

switch featured (#966)
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
Labels: docs

feat: add mogenius and Clever Cloud to adopters and cloud providers
  src/components/pages/adopters/logos/images/clevercloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/clevercloud.inline.svg
  src/components/shared/user-community/images/clevercloud.inline.svg
  src/components/shared/user-community/images/mogenius.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add mogenius and Clever Cloud to adopters and cloud providers (#964)
  src/components/pages/adopters/logos/images/clevercloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/clevercloud.inline.svg
  src/components/shared/user-community/images/clevercloud.inline.svg
  src/components/shared/user-community/images/mogenius.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

remove s3ns
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

remove s3ns
  src/pages/adopters.jsx
Labels: bug, feature

remove s3ns
  src/utils/case-studies-data.js
Labels: bug

Update index.md
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

fix: improve minor phrasing in multi-cluster intro
  src/pages/use-cases/cluster-mesh.jsx
Labels: bug, feature

fix: improve minor phrasing in multi-cluster intro (#967)
  src/pages/use-cases/cluster-mesh.jsx
Labels: bug, feature

docs: adds Understanding Kubernetes Network Observability pillar page
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/decision-tree.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble-cli.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/identity-enrichment.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/monolith-vs-microservice.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/sidecar-vs-ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

docs: adds Understanding Kubernetes Network Observability pillar page - enhance cover image
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/network-observability-cover.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs
