Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

fix: remove dead link to Solo training (#753)
  src/components/pages/enterprise/training/training.jsx
Labels: bug, feature

docs: add Makefile usage commands to README
  README.md
Labels: docs

feat: kernel basics blog (squash commits; add DCO)
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Labels: bug, feature, docs

fix: remove trailing period in blog path
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
Labels: docs

fix: updated readme file
  README.md
Labels: docs

feat(components): add custom hover color for blog list links
  src/components/pages/get-started/news/news.jsx
Labels: bug, feature

feat(components): add custom blue hover color for blog list links
  src/components/pages/get-started/news/news.jsx
Labels: bug, feature

Update src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
Labels: docs

fix: broken links
  package-lock.json
  src/posts/10-10-2018-dns-policies/index.md
  src/posts/17-05-2018-es-security/index.md
  src/posts/2018-08-07-istio-10-cilium/index.md
  src/posts/2018-08-21-cilium12/index.md
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/24-04-2018-why-cilium/index.md
Labels: docs, chore

feat: add FPT telcom to users page
  src/components/pages/adopters/logos/images/fpttelecom.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/fpttelecom.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: added missing fpt telecom icon
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

Enhance Makefile for Cilium website development and Docker workflow (#772)
  Makefile
  README.md
Labels: docs, chore

Fix: correct fptTelecom key to render adopters logos
  src/pages/adopters.jsx
Labels: bug, feature

feat: add FPT telcom to users page (#781)
  src/components/pages/adopters/logos/images/fpttelecom.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/fpttelecom.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: nutanix moved to top section
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: replace correct link and fix broken link and text
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
Labels: docs

chore: reset package files to match main branch
  package-lock.json
Labels: chore

feat: kernel basics blog (squash commits; add DCO)
  package-lock.json
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Labels: bug, feature, docs, chore

fix: added golang link
  src/posts/2018-10-23-envoy-golang/index.md
Labels: docs

feat: nutanix grey scale image
  src/components/pages/adopters/logos/images/nutanix.inline.svg
Labels: feature

fix: broken links (#779)
  src/posts/10-10-2018-dns-policies/index.md
  src/posts/17-05-2018-es-security/index.md
  src/posts/2018-08-07-istio-10-cilium/index.md
  src/posts/2018-08-21-cilium12/index.md
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/24-04-2018-why-cilium/index.md
Labels: docs

feat: nutanix moved to top section (#782)
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: reset package-lock.json to main
  package-lock.json
Labels: chore

feat: add kernel basics blog (#771)
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Labels: bug, feature, docs

remove fpt telecom from cloud section
  src/pages/adopters.jsx
Labels: bug, feature

remove fpt telecom from cloud section (#783)
  src/pages/adopters.jsx
Labels: bug, feature

Update egrosdou01 blog posts to point to new domain
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Labels: docs

Update egrosdou01 blog posts to point to new domain
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Labels: docs

Update egrosdou01 blog posts to point to new domain
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Labels: docs

Update egrosdou01 blog posts to point to new domain (#787)
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Labels: docs

feat(seo): add metadata for /get-started page (#681)
  src/utils/seo-metadata.js
Labels: bug

feat(seo): refine meta descriptions across pages for consistency and SEO optimization
  src/pages/industries/ai.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/edge-computing.jsx
  src/utils/seo-metadata.js
Labels: bug, feature

docs: add guidance for laptops without fans to reduce Gatsby resource usage
  README.md
Labels: docs

fix: improve SEO descriptions for industries pages
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Labels: bug, feature

feat(seo): enhance SEO component with article metadata
  src/components/shared/seo/seo.jsx
Labels: bug, feature

chore: link section in blog to Kubecon NA 2025 official website
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Labels: docs

chore: link section in blog to Kubecon NA 2025 official website (#793)
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Labels: docs

Update src/pages/industries/consulting.jsx
  src/pages/industries/consulting.jsx
Labels: bug, feature

Update src/pages/industries/e-commerce.jsx
  src/pages/industries/e-commerce.jsx
Labels: bug, feature

fix: add metadata
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
Labels: bug, feature

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
