Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

feat: add Organization schema markup for enhanced SEO and structured data (#815)
  src/html.js
  static/logo.svg
Labels: bug, images

Update adopters.jsx
  src/pages/adopters.jsx
Labels: bug, feature

Add vnpost logo to the logos component
  src/components/pages/adopters/logos/logos.jsx
Labels: bug, feature

Add Vietnam Post Cloud case study to data
  src/utils/case-studies-data.js
Labels: bug

added vnpost logo
  src/components/pages/adopters/logos/images/vncloud.inline.svg
Labels: feature

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

docs: add ESnet to adopters page
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

docs: add ESnet logo
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/pages/adopters/logos/logos.jsx
Labels: bug, feature

docs: add logo to user-community
  src/components/shared/user-community/images/esnet.inline.svg
Labels: feature

fix: add esnet to user community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix: svg resize for proper rendering
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/shared/user-community/images/esnet.inline.svg
Labels: feature

Add ESnet to adopters page (#817)
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/esnet.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: add ionx to addopters page and fix svg rendering
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ionx.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: resolution for the svg
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/shared/user-community/images/ionx.inline.svg
Labels: feature

fix: svg alignment
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/shared/user-community/images/ionx.inline.svg
Labels: feature

feat: add ESnet to use-cases service-mao.jsx
  src/pages/use-cases/service-map.jsx
Labels: bug, feature

fix: import path for image
  src/images/pages/usecase/esnet.inline.svg
  src/pages/use-cases/service-map.jsx
Labels: bug, feature, images

Add ionx to adopters page (#818)
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ionx.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Revise ESnet case study title and description
  src/pages/use-cases/service-map.jsx
Labels: bug, feature

Clean up description in service-map.jsx
  src/pages/use-cases/service-map.jsx
Labels: bug, feature

fix: add referer for youtube iframes
  package-lock.json
  package.json
  src/components/pages/blog-post/content/youtube-iframe/youtube-iframe.jsx
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
Labels: bug, feature, chore

Revise ESnet case study title and description
  src/pages/use-cases/service-map.jsx
Labels: bug, feature

fix: add referer for youtube iframes (#821)
  package-lock.json
  package.json
  src/components/pages/blog-post/content/youtube-iframe/youtube-iframe.jsx
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
Labels: bug, feature, chore

Update service-map description and quote details
  src/pages/use-cases/service-map.jsx
Labels: bug, feature

Add vnpost logo to user community icons
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

feat: Add ESnet to use-cases service-map.jsx (#820)
  src/images/pages/usecase/esnet.inline.svg
  src/pages/use-cases/service-map.jsx
Labels: bug, feature, images

Add files via upload
  src/components/shared/user-community/images/vnpost.inline.svg
Labels: feature

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

feat: add FAQ schema markup to improve SEO and enable FAQ rich results
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

Update src/posts/2025-07-01-themed-echo-playlists/index.md
  src/posts/2025-07-01-themed-echo-playlists/index.md
Labels: docs

Add custom anchor IDs for AI references
  src/posts/2020-06-22-cilium-18/index.md
Labels: docs

chore: update banner text and link to KubeCon EU
  src/layouts/main/main.jsx
Labels: bug

chore: update banner text and link to KubeCon EU (#826)
  src/layouts/main/main.jsx
Labels: bug

fix: preserve HTML in FAQ schema for better SEO and UX
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

Revert "chore(deps): bump min-document from 2.19.0 to 2.19.2 (#822)"
  package-lock.json
Labels: chore

Reapply "chore(deps): bump min-document from 2.19.0 to 2.19.2 (#822)"
  package-lock.json
Labels: chore

fix: preserve HTML in FAQ schema for better SEO and UX
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

chore: close previous FAQ due to errors and start new PR for corrected FAQ schema
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

chore: close previous FAQ due to errors and start new PR for corrected FAQ schema (#827)
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

Update index.md
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Labels: none

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
