Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

feat: add tetraon 1.7 release blog (#974)
  src/posts/2026-05-06-tetragon-1.7-release-blog/index.md
  src/posts/2026-05-06-tetragon-1.7-release-blog/ogimage.png
Labels: docs

Completed issue #972
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

added image
  src/images/pages/industries/ai/openai-office.jpg
Labels: images

docs: adds Understanding Kubernetes Network Security pillar page
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/cilium-node-agent.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/core-networking-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/hubble.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/it-ops.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/m-tls-encryption.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/osi-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/runtime-observability.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

docs: adds Kubernetes Runtime Security:The Guide pillar page
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/ebpf-kernel-visibility.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/egress-gateway.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/kubernetes-privilege-escalation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/process-network-correlation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-network-enforcement.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-security.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-architecture.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-context-enrichment.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-fim.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-hook-points.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

docs: adds Kubernetes Runtime Security:The Guide pillar page (#977)
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/ebpf-kernel-visibility.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/egress-gateway.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/kubernetes-privilege-escalation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/process-network-correlation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-network-enforcement.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-security.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-architecture.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-context-enrichment.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-fim.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-hook-points.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Labels: docs

Update src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

Update src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

Update src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

Update src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

updated ascendTestimonial
  src/pages/industries/ai.jsx
Labels: bug, feature

docs: fixed figure caption italics
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

updated logo
  src/components/pages/industries/testimonial/testimonial.jsx
Labels: bug, feature

Completed Add OpenAI to users and AI page issue #972 (#975)
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/industries/ai/openai-office.jpg
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

fix: filter only published newseletters
  gatsby-node.js
Labels: chore

docs: adds Understanding Kubernetes Network Security pillar page (#976)
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/cilium-node-agent.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/core-networking-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/hubble.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/it-ops.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/m-tls-encryption.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/osi-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/runtime-observability.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

fix: filter only published newseletters (#979)
  gatsby-node.js
Labels: chore

added xata to users page
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

added xata to users page
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: align Xata logo with adopter logos
  src/components/shared/user-community/images/xata.inline.svg
  src/pages/adopters.jsx
Labels: bug, feature

added xata to users page issue 970 (#980)
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

docs: add llms.txt file
  llms.txt
Labels: none

feat: add Pagali Payments Services to adopters page
  src/components/shared/user-community/images/pagali.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add Pagali Payments Services to adopters page
  src/components/shared/user-community/images/pagali.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
