Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

feat: add flipkart to bandwidth optimization page
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/icons/logo-flipkart.inline.svg
  src/images/pages/industries/e-commerce/flipkart-office.png
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
Labels: bug, feature, images

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Add esnet kubecon video
  src/utils/case-studies-data.js
Labels: bug

Add files via upload
  src/components/pages/adopters/logos/images/airbnb.svg
  src/components/pages/adopters/logos/images/tiktok.svg
Labels: feature

Update src/posts/2026-01-19-tetragon-falco-migrate/index.md
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Labels: docs

Update case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

add airbnb tiktok to adopters
  src/pages/adopters.jsx
Labels: bug, feature

Add UW-Madison case study and talk (#858)
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add flipkart to bandwidth optimization page (#853)
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/icons/logo-flipkart.inline.svg
  src/images/pages/industries/e-commerce/flipkart-office.png
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
Labels: bug, feature, images

add tiktok to media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Labels: bug, feature

add tiktok office image
  src/images/pages/industries/media-entertainment/tiktokoffice.png
Labels: images

add tiktok image to media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Labels: bug, feature

feat: add falco migrate blog (#849)
  src/posts/2026-01-19-tetragon-falco-migrate/cover.png
  src/posts/2026-01-19-tetragon-falco-migrate/illustration1.png
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Labels: docs

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

fix syntax error
  src/pages/industries/media-entertainment.jsx
Labels: bug, feature

Update youtube link
  src/utils/case-studies-data.js
Labels: bug

Update case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Create cilium at kubecon 26 blog
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

add photos
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/Social-Snackable-kubecon-europe26.png
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/dev-summit-25-na-2.jpg
Labels: docs

move annual report to popular posts
  src/posts/2025-12-18-cilium-annual-report/index.md
Labels: docs

remove from popular posts
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
Labels: docs

Update cover image
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

feat: add Celonis logo to adopters section
  gatsby-config.js
  package-lock.json
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/pages/industries/cloud-providers.jsx
  static/img
Labels: bug, feature, chore, images

docs: clarify recommended command to run site locally
  README.md
Labels: docs

feat: add cilium at kubecon eu 26 blog (#860)
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
  src/posts/2025-12-18-cilium-annual-report/index.md
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/Social-Snackable-kubecon-europe26.png
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/dev-summit-25-na-2.jpg
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

fix: implement dual licensing (Apache-2.0 for code, CC-BY-4.0 for content)
  CONTRIBUTING.md
  LICENSE
  LICENSE-CC-BY-4.0
  README.md
  package.json
Labels: docs, chore

fix: implement dual licensing (Apache-2.0 for code, CC-BY-4.0 for content) (#865)
  CONTRIBUTING.md
  LICENSE
  LICENSE-CC-BY-4.0
  README.md
  package.json
Labels: docs, chore

docs: remove unrelated Celonis logo changes
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/pages/industries/cloud-providers.jsx
Labels: bug, feature

Revert unintended changes in gatsby-config.js
  gatsby-config.js
Labels: chore

docs: clarify npm as primary run command
  README.md
Labels: docs

Chore: Add UTM parameters to KubeCon EU URL
  src/layouts/main/main.jsx
Labels: bug

ci: update Drone CI to use Node.js 18 LTS
  .drone.yml
Labels: none

fix(ui): refine dark mode theme, buttons, hover states, padding and SVG colours
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Labels: bug, feature

chore: consolidate carousel usage to a single library
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature, chore

fix: images in dark mode
  src/pages/industries/consulting.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Labels: bug, feature

docs: clarify run command
  README.md
Labels: docs

fix(ui): refine dark mode theme, buttons, hover states, padding and SVG colours
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Labels: bug, feature
