Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

docs: adds Understanding Kubernetes Microsegmentation pillar page
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/identity-table.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/microsegmentation-cover.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/native-vs-cilium-policies.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/packet-marking.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/segmentation-spectrum.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/shadow-traffic.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

docs: address review comments for Understanding Kubernetes Network Observability pillar page
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble_sw_service_map.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/identity-enrichment.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/sidecar-vs-ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

docs: adds Understanding Kubernetes Network Observability pillar page (#968)
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/decision-tree.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble-cli.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble_sw_service_map.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/identity-enrichment.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/monolith-vs-microservice.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/network-observability-cover.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

Revert "Merge branch 'cilium:main' into lfx/add-kubernetes-microsegmentation"
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/decision-tree.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble-cli.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble_sw_service_map.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/identity-enrichment.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/monolith-vs-microservice.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/network-observability-cover.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

docs: adds Understanding Kubernetes Microsegmentation, author data import
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

docs: fix Microsegmentation, addressed review comments & removed branded images
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/packet-marking.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

Update src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
Labels: docs

docs: adds Understanding Kubernetes Microsegmentation pillar page (#969)
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/identity-table.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/microsegmentation-cover.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/native-vs-cilium-policies.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/packet-marking.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/segmentation-spectrum.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/images/shadow-traffic.png
  src/posts/2026-05-24-understanding-kubernetes-microsegmentation/index.md
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/decision-tree.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/ebpf.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble-cli.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/hubble_sw_service_map.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/identity-enrichment.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/monolith-vs-microservice.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/images/network-observability-cover.png
  src/posts/2026-05-24-understanding-kubernetes-network-observability/index.md
Labels: docs

feat: migrate to v3 hubspot API
  gatsby-node.js
  src/components/pages/newsletter/issues/issues.jsx
Labels: bug, feature, chore

fix: change enviroment
  gatsby-node.js
Labels: chore

feat: migrate to v3 hubspot API (#971)
  gatsby-node.js
  src/components/pages/newsletter/issues/issues.jsx
Labels: bug, feature, chore

feat(ai): add OpenAI to AI industry page
  src/pages/industries/ai.jsx
Labels: bug, feature

chore(ai): add OpenAI logo image for AI page resources card
  src/images/pages/industries/ai/openai-logo.png
Labels: images

fix(ai): add imageSrc, imageAlt and fix style for OpenAI entry
  src/pages/industries/ai.jsx
Labels: bug, feature

fix(ai): add case study link to OpenAI in case-studies-data
  src/utils/case-studies-data.js
Labels: bug

fix(ai): replace openai-logo.png with clean public domain image
  src/images/pages/industries/ai/openai-logo.png
Labels: images

feat: add tetraon 1.7 release blog
  src/posts/2026-05-06-tetragon-1.7-release-blog/index.md
  src/posts/2026-05-06-tetragon-1.7-release-blog/ogimage.png
Labels: docs

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
