Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

fix: correct typo in e-commerce page variable name
  src/pages/industries/e-commerce.jsx
Labels: bug, feature

remove -
  src/pages/industries/security.jsx
Labels: bug, feature

feat(seo): add metadata for /get-started page (#681) (#788)
  src/pages/industries/ai.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Labels: bug, feature

docs: add guidance for laptops without fans to reduce Gatsby resource usage (#790)
  README.md
Labels: docs

Create 07-10-2025-Cilium-Network-Policies-from-first-principles-to-production
  src/posts/07-10-2025-Cilium-Network-Policies-from-first-principles-to-production
Labels: docs

add blog post and image
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/ogimage.png
  src/posts/index.md
Labels: docs

Peacesandy enhanceseo component (#791)
  src/components/shared/seo/seo.jsx
Labels: bug, feature

feat: added Cloudera & UW-Madison to adopter page and changed command for low power laptops
  README.md
  src/components/pages/adopters/logos/images/cloudera.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/cloudera.inline.svg
  src/components/shared/user-community/images/uwmadison.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, docs

feat: optimizing the blogpost
  src/posts/02-04-2018-cilium-rc9-code-freeze/index.md
  src/posts/02-05-2017-bpf-updates-01/index.md
  src/posts/02-06-2017-bpf-updates-05/index.md
  src/posts/02-06-2017-cilium-v09-released-hello-kubernetes/index.md
  src/posts/03-05-2017-why-we-love-the-packetnet-cloud-for-cicd/index.md
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/06-12-2017-cilium-now-speaks-grpc/index.md
Labels: docs

feat: improve meta descriptions with relevant keywords and use structured heading hierarchy
  src/posts/10-07-2017-bpf-updates-08/index.md
  src/posts/18-09-2017-bpf-updates-11/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/25-10-2017-bpf-updates-12/index.md
  src/posts/29-08-2017-bpf-updates-10/index.md
Labels: docs

feat: removed cloudera from preferred cloud section
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Labels: bug, feature

remove extra logo
  src/components/pages/adopters/logos/images/cloudera.inline.svg
Labels: feature

fix capitalization and grammar
  src/utils/case-studies-data.js
Labels: bug

feat: added Cloudera & UW-Madison to adopter page and changed command for low power laptops (#797)
  README.md
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/cloudera.inline.svg
  src/components/shared/user-community/images/uwmadison.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, docs

remove extra file
  src/posts/index.md
Labels: docs

Add external blog post (#795)
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/ogimage.png
Labels: docs

Update src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-09-18-meet-vlad/index.md
Labels: docs

Update src/posts/2022-05-10-kubecon-eu-talks/index.md
  src/posts/2022-05-10-kubecon-eu-talks/index.md
Labels: docs

Update src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
Labels: docs

Update src/posts/2018-09-26-cilium-with-ubuntu1804/index.md
  src/posts/2018-09-26-cilium-with-ubuntu1804/index.md
Labels: docs

Update src/posts/2019-06-24-bpf-copyright/index.md
  src/posts/2019-06-24-bpf-copyright/index.md
Labels: docs

Update src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-02-18-cilium-17/index.md
Labels: docs

Update src/posts/2020-11-10-ebpf-future-of-networking/index.md
  src/posts/2020-11-10-ebpf-future-of-networking/index.md
Labels: docs

Update src/posts/2021-01-29-cilium-bgp-f5/index.md
  src/posts/2021-01-29-cilium-bgp-f5/index.md
Labels: docs

fix: address comments and feedback on PR
  src/posts/03-05-2017-why-we-love-the-packetnet-cloud-for-cicd/index.md
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-11-10-ebpf-future-of-networking/index.md
Labels: docs

fix tag
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Labels: docs

fix: category filter on blog page
  src/components/pages/blog/posts-board/posts-board.jsx
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/18-09-2017-bpf-updates-11/index.md
Labels: bug, feature, docs

feat: add authors to blog post and improve meta description on outcome page
  src/pages/outcomes/cost-and-carbon-savings.jsx
Labels: bug, feature

feat: add authors to blog post and improve meta description on outcome page
  src/pages/outcomes/cost-and-carbon-savings.jsx
Labels: bug, feature

chore: trigger new Netlify build
  src/pages/outcomes/cost-and-carbon-savings.jsx
Labels: bug, feature

chore: trying to redeploy
  src/pages/outcomes/cost-and-carbon-savings.jsx
Labels: bug, feature

fix: Make external URL for external blog post work
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Labels: docs

fix: Make external URL for external blog post work (#801)
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Labels: docs

Update src/pages/outcomes/cost-and-carbon-savings.jsx
  src/pages/outcomes/cost-and-carbon-savings.jsx
Labels: bug, feature

Update src/posts/2020-12-11-kube-proxy-free-cve-mitigation/index.md
  src/posts/2020-12-11-kube-proxy-free-cve-mitigation/index.md
Labels: docs

Update src/posts/2022-11-30-gsod/index.md
  src/posts/2022-11-30-gsod/index.md
Labels: docs

Update src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-04-03-eu-talks/index.md
Labels: docs

Update src/posts/2025-07-06-eks-byonci-overlay-install/index.md
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Labels: docs

Update src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Labels: docs

Update src/posts/25-10-2017-bpf-updates-12/index.md
  src/posts/25-10-2017-bpf-updates-12/index.md
Labels: docs

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
