Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

Update src/posts/25-05-2017-bpf-updates-04/index.md
  src/posts/25-05-2017-bpf-updates-04/index.md
Labels: docs

Update src/posts/29-08-2017-bpf-updates-10/index.md
  src/posts/29-08-2017-bpf-updates-10/index.md
Labels: docs

Remove cybozu from userCommunity2 and place it in userCommunity1
  src/pages/adopters.jsx
Labels: bug, feature

Update case-studies-data.js, Add Cybozu case study link to adopters page
  src/utils/case-studies-data.js
Labels: bug

fix : Add Cybozu case study link to adopters page (#803)
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix grammar
  src/utils/author-data.js
Labels: bug

Added frequently asked questions to the get started page
  src/components/pages/get-help/faq/faq.jsx
  src/pages/get-started.jsx
Labels: bug, feature

feat: add FAQ section
  src/components/pages/get-help/faq/faq.jsx
  src/pages/get-started.jsx
Labels: bug, feature

fix/ logo and placement on the page
  src/components/pages/adopters/logos/images/ost.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Create Cisco CNCF blog
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/index.md
Labels: docs

Add files via upload
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/Cisco cncf blog.png
Labels: docs

Update index.md
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/index.md
Labels: docs

fix import of ost
  src/pages/adopters.jsx
Labels: bug, feature

move the ost card to use-community
  src/components/shared/user-community/images/ost.inline.svg
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update adopters.jsx
  src/pages/adopters.jsx
Labels: bug, feature

fix(components): remove link in the card
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.jsx
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/pages/events/events-board/filters/dropdown-select/checkbox/checkbox.jsx
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/hooks/use-click-outside.js
  src/layouts/main/index.js
  src/pages/get-involved.jsx
  src/pages/use-cases/host-firewall.jsx
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2018-11-20-fb-bpf-firewall/index.md
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2019-05-03-cilium-user-survey-march-2019/index.md
  src/posts/2019-08-20-cilium-16/index.md
  src/posts/2019-12-18-how-to-debug-dns-issuse-in-k8s/index.md
  src/posts/2022-05-10-kubecon-eu-talks/index.md
  src/posts/24-04-2018-cilium-10/index.md
  src/utils/wrap-root-element.jsx
Labels: bug, feature, docs

feat(components): added Vietnam Post Cloud to user page
  src/components/shared/user-community/images/vietnampostcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Added Alt text for Ingress file
  src/pages/use-cases/ingress.jsx
Labels: bug, feature

Update src/components/pages/get-help/faq/faq.jsx
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

Update src/components/pages/get-help/faq/faq.jsx
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

fix: updated FAQ answers and added Cilium Labs and Get Involved links
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

feat: Add Eastern Switzerland University of Applied Sciences (OST) to adopters page (#804)
  src/components/pages/adopters/logos/images/ost.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ost.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

style: added white background and improved link rendering in FAQ section
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

style: added top and bottom padding to FAQ section for balanced spacing
  src/components/pages/get-help/faq/faq.jsx
Labels: bug, feature

Add SuperSkyRay post
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/index.md
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/ogimage.png
Labels: docs

Revert "Add SuperSkyRay post"
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/index.md
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/ogimage.png
Labels: docs

feat: add FAQ section (#807)
  src/components/pages/get-help/faq/faq.jsx
  src/pages/get-started.jsx
Labels: bug, feature

Add files via upload
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/cisco.png
Labels: docs

Add SuperSkyRay post
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/index.md
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/ogimage.png
Labels: docs

Add SuperSkyRay post (#811)
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/index.md
  src/posts/2025-11-03-superskyray-with-cilium-clustermesh/ogimage.png
Labels: docs

Add Cisco CNCF Blog (#810)
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/Cisco cncf blog.png
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/cisco.png
  src/posts/2025-10-31-cisco-cncf-connecting-cillium-sd-wan/index.md
Labels: docs

feat: add meaningful alt text to images
  src/components/pages/brand/hero/hero.jsx
  src/components/shared/featured-story/featured-story.jsx
Labels: bug, feature

Add descriptive alt text to image (#812)
  src/components/pages/brand/hero/hero.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/pages/use-cases/ingress.jsx
Labels: bug, feature

feat: add tetragon process blog
  src/posts/2025-10-4-tetragon-process/chain.png
  src/posts/2025-10-4-tetragon-process/cover.png
  src/posts/2025-10-4-tetragon-process/index.md
Labels: docs

fix: correct dates
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/shared/user-community/images/nutanix.inline.svg
  src/posts/2025-11-4-tetragon-process/chain.png
  src/posts/2025-11-4-tetragon-process/cover.png
  src/posts/2025-11-4-tetragon-process/index.md
Labels: feature, docs

Update src/posts/2025-11-4-tetragon-process/index.md
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

fix: update csp
  netlify.toml
Labels: none

feat: add Organization schema markup to HTML file for improved SEO and brand visibility
  src/html.js
  static/logo.svg
Labels: bug, images

refactor: move orgSchema to module scope for better performance
  src/html.js
Labels: bug
