Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

feat: update l4lb blogpost (#957)
  src/posts/2022-07-13-L4LB-XDP/index.md
Labels: docs

add ciliumcon na 2026
  content/events/2026-04-14-ciliumcon-na-2026/index.md
Labels: none

Add files via upload
  content/events/2026-04-14-ciliumcon-na-2026/ogimage.png
Labels: none

Potential fix for pull request finding
  gatsby-node.js
Labels: chore

Add Kubecon adopters
  src/pages/adopters.jsx
Labels: bug, feature

Add KubeCon talks to case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Add files via upload
  src/components/shared/user-community/images/asana.inline.svg
  src/components/shared/user-community/images/etraveli.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update asana.inline.svg
  src/components/shared/user-community/images/asana.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update banner
  src/layouts/main/main.jsx
Labels: bug

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Labels: feature

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

feat: add Telefonica to adopters page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/telefonica.inline.svg
  src/components/shared/user-community/images/telefonica.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add Telefonica to adopters page (#960)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/telefonica.inline.svg
  src/components/shared/user-community/images/telefonica.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

docs: add Understanding Kubernetes Networking pillar page
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image4.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image5.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/understanding-kubernetes-networking-cover.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/utils/author-data.js
Labels: bug, docs

docs: add Understanding Kubernetes Load balancing pillar page
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/understanding-kubernetes-load-balancing-cover.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Labels: docs
