Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

feat: add Bedrock to adopters page (#920)
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: redesign home page case studies grid
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
Labels: bug, feature

feat: add inviter component
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/index.jsx
  src/styles/global.css
Labels: bug, feature

fix: adjust logo sizes and list order
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
Labels: bug, feature

fix: update case study links for Google, NYT, Adobe and Trip.com
  src/utils/case-studies-data.js
Labels: bug

add keynote info
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

fix: reorder case study links to prioritize new URLs
  src/utils/case-studies-data.js
Labels: bug

feat: redesign home page case studies grid (#927)
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Add blog: Uncovering Pod-to-Pod Traffic using Cilium and Hubble
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Labels: docs

Add blog: Uncovering Pod-to-Pod Traffic using Cilium and Hubble
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Labels: docs

Add blog: Uncovering Pod-to-Pod Traffic in Kubernetes Using Cilium and Hubble (#929)
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Labels: docs

Fix blog structure: move to folder format and add ogImage
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/ogimage.png
Labels: docs

Fix blog structure: move to folder format and add ogImage
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Labels: docs

Update blog: add ogImage and Community category for Hubble blog (#930)
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/ogimage.png
Labels: docs

Fix category name in recently-added blog post
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
Labels: docs

Fix category name in recently-added blog post (#931)
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
Labels: docs

fix: improve accessibility for hash anchor links (#895)
  src/components/shared/link/link.jsx
Labels: bug, feature

chore: remove redundant accessibility setting from slider
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature

chore: remove redundant accessibility setting from slider (#882)
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature

fix: add missing noopener to rel attributes in legal-box
  src/components/pages/brand/legal-box/legal-box.jsx
Labels: bug, feature

fix: add missing noopener to rel attributes in legal-box (#932)
  src/components/pages/brand/legal-box/legal-box.jsx
Labels: bug, feature

chore: retrigger netlify build
  gatsby-config.js
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature, chore

fix(components): stabilize Swiper navigation and keys in slider
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature

perf(utils): remove hardcoded limits and add null-safe category filtering
  gatsby-node.js
Labels: chore

fix: improve event card border contrast on events page
  src/components/pages/events/events-board/event-card/event-card.jsx
Labels: bug, feature

fix: improve event card border contrast on events page (#934)
  src/components/pages/events/events-board/event-card/event-card.jsx
Labels: bug, feature

adopters: replace placeholder logo with IKEA branding
  src/components/shared/user-community/images/ikea.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: use inviter slack link
  src/components/shared/header/header.jsx
  src/pages/get-involved.jsx
Labels: bug, feature

fix: address review comments for dark mode PR
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

add external blog
  src/posts/cilium-on-rk2/index.md
Labels: docs

Add files via upload
  src/posts/cilium-on-rk2/ogimage.png
Labels: docs

Update index.md
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

feat: add external blog & kubecon keynote info (#938)
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
  src/posts/cilium-on-rk2/index.md
  src/posts/cilium-on-rk2/ogimage.png
Labels: docs

Initial draft for mTLS encryption annoucement and deep dive architecture
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

fix: correct typo in README regarding image querying
  README.md
Labels: docs

fix: correct typo in README regarding image querying (#941)
  README.md
Labels: docs

feat: add ImageGallery component
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/image-gallery/image-gallery.css
  src/components/pages/blog-post/content/image-gallery/image-gallery.jsx
  src/components/pages/blog-post/content/image-gallery/index.js
Labels: bug, feature

feat: add Cloud Native Days France 2026 blog post
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh3.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-dsr1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-dsr2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-community.png
  src/posts/2026-02-25-cloud-native-days-france/cndf-lab1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-lab2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-sessions.png
  src/posts/2026-02-25-cloud-native-days-france/cover.png
  src/posts/2026-02-25-cloud-native-days-france/index.md
  src/utils/author-data.js
Labels: bug, docs

feat: add Cloud Native Days France blog post (#942)
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/image-gallery/image-gallery.css
  src/components/pages/blog-post/content/image-gallery/image-gallery.jsx
  src/components/pages/blog-post/content/image-gallery/index.js
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-clustermesh3.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-dsr1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-cilium-dsr2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-community.png
  src/posts/2026-02-25-cloud-native-days-france/cndf-lab1.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-lab2.jpg
  src/posts/2026-02-25-cloud-native-days-france/cndf-sessions.png
  src/posts/2026-02-25-cloud-native-days-france/cover.png
  src/posts/2026-02-25-cloud-native-days-france/index.md
  src/utils/author-data.js
Labels: bug, feature, docs

docs: add OVH to adopters and cloud providers page (#943)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Labels: bug, feature
