Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

fix: add testionials and rewrite
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-esnet.inline.svg
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

fix: update features section component to use multiple paragraphs
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

fix: update features component to use multiple paragraphs
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
Labels: bug, feature

fix: update feature section paragraph margin
  src/components/pages/use-cases/feature-section/feature-section.jsx
Labels: bug, feature

Usecase ipv6 (#838)
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/icons/bytedance.inline.svg
  src/icons/logo-esnet.inline.svg
  src/images/pages/usecase/multi-network-bee.png
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature, images

flipkart into the adopters
  src/components/pages/adopters/logos/images/flipkart-inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix issue 839
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: update vntp Cilium usage text
  src/components/pages/adopters/logos/images/vntp.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/vntp.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat(pages): add Celonis to adopters page
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Add Flipkart logo to adopters
  src/components/pages/adopters/logos/logos.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Create index.md
  src/posts/2025-01-16-day2-configurations/index.md
Labels: docs

Add files via upload
  src/posts/2025-01-16-day2-configurations/ogimage.png
Labels: docs

Add datadog day 2 blog (#846)
  src/posts/2025-01-16-day2-configurations/index.md
  src/posts/2025-01-16-day2-configurations/ogimage.png
Labels: docs

Add Flipkart logo to adopters and fix SVG scaling
  src/components/pages/adopters/logos/images/flipkart-inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/pages/adopters.jsx
Labels: bug, feature

Add Flipkart logo to adopters
  src/components/pages/adopters/logos/images/flipkart-inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

feat: add vnpt to adopters page
  src/components/pages/adopters/logos/images/vnpt.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/vnpt.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

adding VNTP card into adopter
  src/utils/case-studies-data.js
Labels: bug

fixing 806
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fixing 806
  src/components/pages/adopters/logos/logos.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

adding vntp into adopter
  src/pages/adopters.jsx
Labels: bug, feature

fix: vnpt icon position
  src/pages/adopters.jsx
Labels: bug, feature

Fix HTML tag in Vietnam Post Cloud text
  src/utils/case-studies-data.js
Labels: bug

Update text for VNPT case study description
  src/utils/case-studies-data.js
Labels: bug

Fix HTML tag in VNPT case study text
  src/utils/case-studies-data.js
Labels: bug

Add Celonis to adopters
  src/components/pages/adopters/logos/images/flipkart-inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix(components): add Flipkart to adopters list
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix: add VNTP to adopters list
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix(components): add celonis to adopters list
  src/components/shared/user-community/images/celonis-inline.svg
Labels: feature

fix(components): add celonis to adopters list
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix(components): add celonis to adopters list
  gatsby-config.js
  src/pages/adopters.jsx
Labels: bug, feature, chore

fix: correct celonis logo import path
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix(components): add celonis to adopters list
  gatsby-config.js
Labels: chore

fix(components): add celonis to adopters list
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
Labels: bug, feature

fix(components): add celonis to adopters list
  src/pages/adopters.jsx
Labels: bug, feature
