Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

feat: add ciliumcon eu 2026
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Labels: none

Add files via upload
  content/events/2025-11-25-ciliumcon-eu-2026/ogimage.png
Labels: none

Update index.md
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Labels: none

Update NA date
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Labels: none

Update NA date (#829)
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Labels: none

feat: add ciliumcon eu 2026 (#828)
  content/events/2025-05-26-ciliumcon-na-2025/index.md
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
  content/events/2025-11-25-ciliumcon-eu-2026/ogimage.png
Labels: none

EU 2023
  content/events/2023-04-18-ciliumcon/index.md
Labels: none

NA 2023
  content/events/2023-11-06-ciliumcon-na/index.md
Labels: none

cilium ebpf day na 2024
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Labels: none

Update external URL for CiliumCon Europe 2025
  content/events/2025-04-01-ciliumcon-eu/index.md
Labels: none

fix event links (#830)
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-11-06-ciliumcon-na/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2025-04-01-ciliumcon-eu/index.md
Labels: none

feat: add tetragon process blog
  src/posts/2025-10-4-tetragon-process/chain.png
  src/posts/2025-10-4-tetragon-process/cover.png
  src/posts/2025-10-4-tetragon-process/index.md
Labels: docs

fix: correct dates
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/shared/user-community/images/nutanix.inline.svg
  src/posts/2025-11-4-tetragon-process/chain.png
  src/posts/2025-11-4-tetragon-process/cover.png
  src/posts/2025-11-4-tetragon-process/index.md
Labels: feature, docs

fix: add child process visibility section
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

fix: rewrite runc exploit tracing policy
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

fix: nutaninx logo
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/shared/user-community/images/nutanix.inline (1).svg
  src/components/shared/user-community/images/nutanix.inline.svg
Labels: feature

fix: remove duplicate nutanix logo
  src/components/shared/user-community/images/nutanix.inline.svg
Labels: feature

fix: typo
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

feat: add new blog post
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/LFXAcceptanceEmail.jpg
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/utils/author-data.js
Labels: bug, docs

fix: update author component usage in blog post
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/lfxacceptanceemail.png
  src/utils/author-data.js
Labels: bug, docs

fix: update policy enforcement to sigkill
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

fix: update policy
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

Add ingress nginx post
  src/posts/2025-12-03-ingress-nginx-migration/index.md
Labels: docs

Add files via upload
  src/posts/2025-12-03-ingress-nginx-migration/ogimage.png
Labels: docs

Add ingress niginx post (#835)
  src/posts/2025-12-03-ingress-nginx-migration/index.md
  src/posts/2025-12-03-ingress-nginx-migration/ogimage.png
Labels: docs

Add new blog post - Peace Sandy Internship Experience (#834)
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/LFXAcceptanceEmail.jpg
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/lfxacceptanceemail.png
  src/utils/author-data.js
Labels: bug, docs

feat: add tetragon process blog (#814)
  src/posts/2025-11-4-tetragon-process/chain.png
  src/posts/2025-11-4-tetragon-process/cover.png
  src/posts/2025-11-4-tetragon-process/index.md
Labels: docs

remove KubeCon feature blog
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Labels: docs

Add Cilium annual report blog
  src/posts/2025-12-18-cilium-annual-report/index.md
Labels: docs

Add files via upload
  src/posts/2025-12-18-cilium-annual-report/annualreport.png
Labels: docs

Add Cilium Annual Report 2025 (#836)
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2025-12-18-cilium-annual-report/annualreport.png
  src/posts/2025-12-18-cilium-annual-report/index.md
Labels: docs

feat: add tetragon eoy blog
  src/posts/2025-12-31-tetragon-2025-review/cover.png
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

feat: add tetragon eoy blog (#837)
  src/posts/2025-12-31-tetragon-2025-review/cover.png
  src/posts/2025-12-31-tetragon-2025-review/index.md
Labels: docs

feat: add ipv6 usecase
  src/components/pages/home/highlights/highlights.jsx
  src/icons/bytedance.inline.svg
  src/images/pages/usecase/multi-network-bee.png
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature, images

Update src/pages/use-cases/ipv6.jsx
  src/pages/use-cases/ipv6.jsx
Labels: bug, feature

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
