Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

docs: add Pagali Payments Services to adopters page
  src/utils/case-studies-data.js
Labels: bug

Added pagali payments service to adopters (#983)
  src/components/shared/user-community/images/pagali.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

chore: remove unused Drone CI config
  .drone.yml
Labels: none

feat(templates): add BlogPosting JSON-LD structured data to blog post pages
  src/templates/blog-post.jsx
Labels: bug, feature

docs: adds Multi-Cluster Kubernetes Explained pillar page
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/cilium-mesh.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/fail-over-service.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/global-services.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/hubble-ui.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/inter-cluster-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/multi-cluster-cover-image.jpg
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/pod-to-pod-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/service-affinity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Labels: docs

fix(seo): add missing twitter:site meta tag
  src/components/shared/seo/seo.jsx
Labels: bug, feature

feat(a11y): add skip-to-main-content link for keyboard navigation
  src/layouts/main/main.jsx
Labels: bug

fix(a11y): add aria-label and sr-only hint to footer external links
  src/components/shared/footer/footer.jsx
Labels: bug, feature

fix(a11y/seo): address review feedback on footer links and JSON-LD structured data
  src/components/shared/footer/footer.jsx
  src/components/shared/seo/seo.jsx
Labels: bug, feature

chore: remove unused Drone CI config (#985)
  .drone.yml
Labels: none

feat(a11y): add skip-to-main-content link for keyboard navigation (#990)
  src/layouts/main/main.jsx
Labels: bug

fix(seo): add missing twitter:site meta tag (#989)
  src/components/shared/seo/seo.jsx
Labels: bug, feature

Update src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Labels: docs

Update src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Labels: docs

Update src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Labels: docs

docs: adds Multi-Cluster Kubernetes Explained pillar page (#988)
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/cilium-mesh.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/fail-over-service.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/global-services.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/hubble-ui.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/inter-cluster-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/multi-cluster-cover-image.jpg
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/pod-to-pod-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/service-affinity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Labels: docs

fix(a11y): add aria-label and sr-only hint to footer external links (#991)
  src/components/shared/footer/footer.jsx
  src/components/shared/seo/seo.jsx
Labels: bug, feature

feat(templates): add author to BlogPosting JSON-LD
  gatsby-node.js
  src/templates/blog-post.jsx
Labels: bug, feature, chore

docs: repurpose llms.txt for AEO/AIO and serve at /llms.txt
  llms.txt
  static/_redirects
  static/llms.txt
Labels: images

feat(templates): add BlogPosting JSON-LD structured data to blog post (#987)
  gatsby-node.js
  src/templates/blog-post.jsx
Labels: bug, feature, chore

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

docs: rewrite llms.txt descriptions for LLM consumption
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

Update static/llms.txt
  static/llms.txt
Labels: images

docs: align static/llms.txt with llmstxt.org spec formatting
  static/llms.txt
Labels: images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
