Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

Added llms.txt (#982)
  static/_redirects
  static/llms.txt
Labels: images

fix: correct broken YouTube URL in Reddit testimonial link
  src/pages/use-cases/runtime-security.jsx
Labels: bug, feature

fix: correct broken YouTube URL in Reddit testimonial link (#994)
  src/pages/use-cases/runtime-security.jsx
Labels: bug, feature

docs: fix factual errors in llms.txt
  static/llms.txt
Labels: images

docs: add llms-full.txt expanded LLM context file
  static/_redirects
  static/llms-full.txt
Labels: images

fix: replace broken Slack invite links
  README.md
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/html.js
  src/pages/get-help.jsx
  src/templates/blog.jsx
Labels: bug, feature, docs

docs: fix spelling and grammar typos in blog posts
  src/posts/2019-12-18-how-to-debug-dns-issuse-in-k8s/index.md
  src/posts/2020-02-05-how-trip-com-uses-cilium/index.md
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

Blog about k0rdent + Cilium
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/built-once-consistent-everywhere.png
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/ebee-k0rdent-header.png
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
  src/utils/author-data.js
Labels: bug, docs

added cover to the blog itself
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
Labels: docs

docs: fix spelling and grammar typos in blog posts (#998)
  src/posts/2019-12-18-how-to-debug-dns-issuse-in-k8s/index.md
  src/posts/2020-02-05-how-trip-com-uses-cilium/index.md
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Labels: docs

feat: generate llms-full.txt from site content at build time
  gatsby-node.js
  package.json
  scripts/generate-llms-full.js
  static/_redirects
  static/llms.txt
Labels: chore, images

Update src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
Labels: docs

Blog about k0rdent + Cilium (#999)
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/built-once-consistent-everywhere.png
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/ebee-k0rdent-header.png
  src/posts/2026-07-08-how-k0rdent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
  src/utils/author-data.js
Labels: bug, docs

refactor: use async fs promises for llms-full.txt write in onPostBuild
  gatsby-node.js
  scripts/generate-llms-full.js
Labels: chore

fix: change slack urls to community inviter
  README.md
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/html.js
  src/pages/get-help.jsx
  src/posts/2026-07-08-how-kordent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/built-once-consistent-everywhere.png
  src/posts/2026-07-08-how-kordent-and-cilium-turn-kubernetes-sprawl-into-a-platform/images/ebee-k0rdent-header.png
  src/posts/2026-07-08-how-kordent-and-cilium-turn-kubernetes-sprawl-into-a-platform/index.md
  src/templates/blog.jsx
Labels: bug, feature, docs

feat: generate llms-full.txt from site content at build time (#992) (#1000)
  gatsby-node.js
  package.json
  scripts/generate-llms-full.js
  static/_redirects
  static/llms.txt
Labels: chore, images

fix: change slack urls to community inviter
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
Labels: bug, feature

fix: change slack urls to community inviter (#1007)
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
Labels: bug, feature

feat: add Michelin to adopters page
  src/components/shared/user-community/images/michelin.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add Michelin to adopters page (#1016)
  src/components/shared/user-community/images/michelin.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Fix Slack invitation links
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
  src/pages/get-involved.jsx
Labels: bug, feature

fix: revert slack url
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
  src/pages/get-involved.jsx
Labels: bug, feature

Add blog post about cilium 1.20 (isovalent)
  src/posts/2026-07-31-cilium-1.20-isovalent/cilium-1.20-release.png
  src/posts/2026-07-31-cilium-1.20-isovalent/index.md
Labels: docs

blog: 1.20: fix (os)Image name
  src/posts/2026-07-31-cilium-1.20-isovalent/index.md
Labels: docs

blog: Cilium Network Policy Has No First-Class Canary
  src/posts/2026-08-09-cilium-network-policy-has-no-first-class-canary/index.md
  src/utils/author-data.js
Labels: bug, docs

blog: tighten two policy-scope claims to what the docs support
  src/posts/2026-08-09-cilium-network-policy-has-no-first-class-canary/index.md
Labels: docs

chore: update labs for Isovalent Universe
  content/labs/2022-11-20-cilium-bgp/index.md
  content/labs/2022-11-20-cilium-cluster-mesh/index.md
  content/labs/2022-11-21-cilium-egress-gateway/index.md
  content/labs/2022-11-21-cilium-getting-started/index.md
  content/labs/2022-11-21-cilium-ingress-controller/index.md
  content/labs/2022-11-22-cilium-gateway-api/index.md
  content/labs/2022-11-23-cilium-host-firewall/index.md
  content/labs/2023-01-17-cilium-lb-ipam-bgp/index.md
  content/labs/2023-01-18-cilium-sctp/index.md
  content/labs/2023-02-14-cilium-ipv6/index.md
  content/labs/2023-04-12-cilium-migrating-from-flannel/index.md
  content/labs/2023-04-19-cilium-gateway-api-advanced/index.md
  content/labs/2023-05-17-hubble-grafana-golden-signals/index.md
  content/labs/2023-07-04-tetragon-getting-started/index.md
  content/labs/2023-07-18-cilium-transparent-encryption-with-ipsec-and-wireguard/index.md
  content/labs/2023-07-23-cilium-bgp-advanced/index.md
  content/labs/2023-07-23-cilium-lb-ipam-l2-announcements/index.md
  content/labs/2023-07-23-cilium-mutual-authentication/cover.jpg
  content/labs/2023-07-23-cilium-mutual-authentication/index.md
  content/labs/2023-09-29-cilium-big-tcp/cover.png
  content/labs/2023-09-29-cilium-big-tcp/index.md
  content/labs/2024-02-12-cilium-migrating-from-calico/index.md
  content/labs/2024-03-15-cilium-envoy-l7-proxy/index.md
  content/labs/2024-09-26-cilium-traffic-optimization/index.md
  content/labs/2024-09-26-cloud-network-engineer/index.md
  content/labs/2024-09-26-platform-engineer/index.md
  content/labs/2024-09-26-secops-engineer/index.md
  content/labs/2024-10-04-cilium-kubevirt/index.md
  content/labs/2025-01-09-cilium-ipam/index.md
  content/labs/2026-06-09-cilium-gateway-api-external-auth/index.md
Labels: none

chore: add covers for new labs
  content/labs/2024-10-04-cilium-kubevirt/cover.png
  content/labs/2024-10-04-cilium-kubevirt/index.md
  content/labs/2025-01-09-cilium-ipam/cover.png
  content/labs/2025-01-09-cilium-ipam/index.md
  content/labs/2026-06-09-cilium-gateway-api-external-auth/cover.png
  content/labs/2026-06-09-cilium-gateway-api-external-auth/index.md
Labels: none

fix: use category-specific lab covers
  content/labs/2024-10-04-cilium-kubevirt/cover.png
  content/labs/2024-10-04-cilium-kubevirt/index.md
  content/labs/2025-01-09-cilium-ipam/cover.png
  content/labs/2026-06-09-cilium-gateway-api-external-auth/cover.png
  content/labs/2026-06-09-cilium-gateway-api-external-auth/index.md
Labels: none

docs: add blog post on zero trust developer platforms with CNPs
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/images/cover.png
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/images/openchoreo-generated-cnp.png
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/images/openchoreo-http-metrics.png
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/images/openchoreo-runtime-cell-diagram.png
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/images/openchoreo-wirelogs.png
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/index.md
  src/utils/author-data.js
Labels: bug, docs

chore: add Cilium cert-manager lab
  content/labs/2026-09-02-cilium-cert-manager/cover.png
  content/labs/2026-09-02-cilium-cert-manager/index.md
Labels: none

chore: add Cilium cert-manager lab (#1036)
  content/labs/2026-09-02-cilium-cert-manager/cover.png
  content/labs/2026-09-02-cilium-cert-manager/index.md
Labels: none

docs: adds Troubleshooting Kubernetes Networking pillar page (#1034)
  src/posts/2026-08-15-troubleshooting-kubernetes-networking/images/decision-tree.png
  src/posts/2026-08-15-troubleshooting-kubernetes-networking/images/dns-queries.png
  src/posts/2026-08-15-troubleshooting-kubernetes-networking/images/osi-stack.png
  src/posts/2026-08-15-troubleshooting-kubernetes-networking/images/troubleshooting-kubernetes-networking-cover.png
  src/posts/2026-08-15-troubleshooting-kubernetes-networking/index.md
Labels: docs

fix: remove inviter component
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/index.jsx
  src/styles/global.css
Labels: bug, feature

Update date format causing sorting issue
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/index.md
Labels: docs

fix: remove inviter component (#1041)
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/index.jsx
  src/styles/global.css
Labels: bug, feature

feat: add tetetragon grpc api blog
  src/posts/2026-09-10-tetragon-grpc/cover.png
  src/posts/2026-09-10-tetragon-grpc/illustration1.png
  src/posts/2026-09-10-tetragon-grpc/index.md
Labels: docs

Create index.md
  src/posts/2026-09-23-kubecon-na-26/index.md
Labels: docs

Add files via upload
  src/posts/2026-09-23-kubecon-na-26/ciliumconeu26.png
  src/posts/2026-09-23-kubecon-na-26/dev-summit-26-eu.png
  src/posts/2026-09-23-kubecon-na-26/ogimage.png
Labels: docs

remove feature
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Labels: docs

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
