Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

Apply suggestions from code review
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

fix: formatting between READ CASE STUDY in in-production.jsx
  src/components/pages/home/in-production/in-production.jsx
Labels: bug, feature

docs: add OVH to adopters and cloud providers page (#943)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/images/pages/industries/cloud-providers/OVHcloud-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

fix: import authors for blog
  src/posts/2020-08-19-google-chooses-cilium-for-gke-networking/index.md
Labels: docs

fix: import authors for blog (#945)
  src/posts/2020-08-19-google-chooses-cilium-for-gke-networking/index.md
Labels: docs

docs: add OVH to adopters and cloud providers page (#943) (#944)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/images/pages/industries/cloud-providers/OVHcloud-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

Add blog post of isovalent about Cilium 1.19
  src/posts/2026-02-24-cilium-1.19-isovalent/cilium-10years-old.png
  src/posts/2026-02-24-cilium-1.19-isovalent/index.md
Labels: docs

Add blog post of isovalent about Cilium 1.19 (#946)
  src/posts/2026-02-24-cilium-1.19-isovalent/cilium-10years-old.png
  src/posts/2026-02-24-cilium-1.19-isovalent/index.md
Labels: docs

docs: add zynga to adopters and media pages
  src/components/pages/adopters/logos/images/zynga.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/zynga.inline.svg
  src/components/shared/user-community/images/zynga.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/zynga-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

docs: add zynga to adopters and media pages (#949)
  src/components/pages/adopters/logos/images/zynga.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/zynga.inline.svg
  src/components/shared/user-community/images/zynga.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/zynga-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

feat: add inviter component (#928)
  src/components/shared/header/header.jsx
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/get-involved.jsx
  src/pages/index.jsx
  src/styles/global.css
Labels: bug, feature

feat: add labyrinth labs to adopters page
  src/components/shared/user-community/images/labyrinthlabs.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

feat: add labyrinth labs to adopters page
  src/components/shared/user-community/images/labyrinthlabs.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

add labyrinth labs to adopters page (#950)
  src/components/shared/user-community/images/labyrinthlabs.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Apply suggestion from @Copilot for dark-mode border in user-community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix: add missing rel='noopener noreferrer' to external links
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-12-01-service-mesh-beta/index.md
  src/utils/author-data.js
Labels: bug, feature, docs

fix: add missing rel='noopener noreferrer' to external links (#953)
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-12-01-service-mesh-beta/index.md
  src/utils/author-data.js
Labels: bug, feature, docs

perf: add explicit width and height to images to improve CLS
  src/components/pages/events/events-board/card-with-cta/card-with-cta.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/labs/card/card.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/telling-story/hero/form/form.jsx
Labels: bug, feature

perf: add explicit width and height to images to improve CLS (#954)
  src/components/pages/events/events-board/card-with-cta/card-with-cta.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/labs/card/card.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/telling-story/hero/form/form.jsx
Labels: bug, feature

Apply suggestions from code review
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

incorporate feedback
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
  src/utils/author-data.js
Labels: bug, docs

Turning off isFeatured:false
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

Apply suggestions from code review
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

Initial draft for mTLS encryption annoucement and deep dive architecture (#939)
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
  src/utils/author-data.js
Labels: bug, docs

Add KubeCon EU 20206 blog
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Labels: docs

Add files via upload
  src/posts/2026-03-23-ciliumcon-momentum/CiliumCon2026.png
Labels: docs

Update index.md
  src/posts/2025-12-18-cilium-annual-report/index.md
Labels: docs

Update index.md
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Labels: docs

minor nits
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Labels: docs

feat: add Cilium momentum blog (#955)
  src/posts/2025-12-18-cilium-annual-report/index.md
  src/posts/2026-03-23-ciliumcon-momentum/CiliumCon2026.png
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Labels: docs

updated image
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
Labels: docs

updated image (#956)
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
Labels: docs

fix(utils): improve GraphQL error reporting to include all errors
  gatsby-node.js
Labels: chore

feat: update l4lb blogpost
  src/posts/2022-07-13-L4LB-XDP/index.md
Labels: docs

remove featured blog
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Labels: docs

make featured blog
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Labels: docs

remove featured event
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Labels: none

Create 2026-04-10-ciliumcon-na-2026
  content/events/2026-04-10-ciliumcon-na-2026
Labels: none

Apply suggestions from code review
  src/posts/2022-07-13-L4LB-XDP/index.md
Labels: docs
