Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

fix : dark mode ui bugs
  src/components/pages/events/cta-section/cta-section.jsx
Labels: bug, feature

fix : dark mode ui bugs (#880)
  src/components/pages/events/cta-section/cta-section.jsx
Labels: bug, feature

fix(ui): refine dark mode theme, buttons, hover states, padding and SVG colours (#872)
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Labels: bug, feature

fix: images in dark mode (#878)
  src/pages/industries/consulting.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Labels: bug, feature

fix(components): improve keyboard focus visibility for homepage slider controls
  src/components/pages/home/in-production/slider/slider.jsx
Labels: bug, feature

ci
  .github/workflow/validate-example.yml
  examples/basic-nginx/deployment.yaml
Labels: chore

Revert "fix(ui): refine dark mode theme, buttons, hover states, padding and S…"
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Labels: bug, feature

Revert "fix(ui): refine dark mode theme, buttons, hover states, padding and S…" (#884)
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Labels: bug, feature

feat: add celonis to adopters route fixed merge conflicts with main in user-community.jsx Signed-off-by: Sangam Pratap Singh <sangampratapsingh21012006@gmail.com>
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

ci
  .github/workflow/validate-example.yml
  examples/basic-nginx/deployment.yaml
Labels: chore

Add Cilium Network Policy example
  .github/workflow/validate-example.yml
  examples/network-policy/deployment.yaml
  examples/network-policy/network-policy.yaml
Labels: chore

ci
  .github/workflow/validate-example.yml
  examples/basic-nginx/deployment.yaml
Labels: chore

Add Cilium Network Policy example
  .github/workflow/validate-example.yml
  examples/network-policy/deployment.yaml
  examples/network-policy/network-policy.yaml
Labels: chore

refactor: standardize carousel by removing react-slick
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
  src/styles/slick.css
Labels: bug, feature, chore

fix: resolve layout overflow at 1280px viewport
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
  src/components/shared/container/container.jsx
  src/styles/slick.css
Labels: bug, feature, chore

fix: resolve layout overflow at 1280px viewportFix 1280px layout (#892)
  src/components/shared/container/container.jsx
Labels: bug, feature

fix: improve accessibility for hash anchor links
  src/components/shared/link/link.jsx
Labels: bug, feature

perf(utils): optimize GraphQL queries and avoid N+1 pattern
  gatsby-node.js
Labels: chore

fix: add missing rel=noopener noreferrer on external links
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/labs/banner/banner.jsx
  src/components/shared/banner/banner.jsx
Labels: bug, feature

refactor: move HubSpot form ID to environment variable
  .env.example
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

fix: restore dark mode and ensure light mode functionality remains intact
  src/components/pages/home/in-production/in-production.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/community/community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

fix: make navbar sticky on scroll
  src/layouts/main/main.jsx
Labels: bug

fix: make navbar sticky on scroll (#903)
  src/layouts/main/main.jsx
Labels: bug

feat: add celonis to adopters route fixed merge conflicts with main in user-community.jsx Signed-off-by: Sangam Pratap Singh <sangampratapsingh21012006@gmail.com>
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: move Celonis to correct section without links
  src/pages/adopters.jsx
Labels: bug, feature

remove: removed website link to celonis
  src/utils/case-studies-data.js
Labels: bug

add celonis to adopters route (#883)
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix spacing
  src/utils/case-studies-data.js
Labels: bug

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Labels: bug, feature

docs: add learning objectives to getting started lab
  content/labs/2022-11-21-cilium-getting-started/index.md
Labels: none

Delete src/components/pages/adopters/logos/images/airbnb.svg
  src/components/pages/adopters/logos/images/airbnb.svg
Labels: feature

Delete src/components/pages/adopters/logos/images/tiktok.svg
  src/components/pages/adopters/logos/images/tiktok.svg
Labels: feature

Add files via upload
  src/components/pages/adopters/logos/images/airbnb.inline.svg
  src/components/pages/adopters/logos/images/tiktok.inline.svg
Labels: feature

Delete src/components/pages/adopters/logos/images/airbnb.inline.svg
  src/components/pages/adopters/logos/images/airbnb.inline.svg
Labels: feature

Delete src/components/pages/adopters/logos/images/tiktok.inline.svg
  src/components/pages/adopters/logos/images/tiktok.inline.svg
Labels: feature

Add files via upload
  src/components/shared/user-community/images/airbnb.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
Labels: feature

Update tiktok.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
Labels: feature

Update media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Labels: bug, feature

Add files via upload
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
Labels: feature

Update adopters-logo.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
Labels: bug, feature
