Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'

Delete src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
Labels: feature

Add files via upload
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
Labels: feature

docs: add learning objectives to Cilium Gateway API lab
  content/labs/2022-11-22-cilium-gateway-api/index.md
Labels: none

fix: correct spelling typos in documentation and components
  src/components/pages/brand/legal-box/legal-box.jsx
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Labels: bug, feature, docs

fix: correct spelling typos in documentation and components (#905)
  src/components/pages/brand/legal-box/legal-box.jsx
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Labels: bug, feature, docs

feat: add KubeCon NA 25 videos (#859)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
  src/components/shared/user-community/images/airbnb.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/tiktokoffice.png
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, images

docs: fix spelling typos in blog posts
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Labels: docs

docs: fix 'dependant' typos to 'dependent' in blog posts
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
Labels: docs

docs: fix 'dependant' typos to 'dependent' in blog posts (#908)
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
Labels: docs

fix: update CiliumCon Europe 2026 event URL
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Labels: none

fix: add dark mode text colors to subscribe success message
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

docs: add prerequisites to Cilium host firewall lab
  content/labs/2022-11-22-cilium-gateway-api/index.md
Labels: none

fix: add dark mode text colors to subscribe success message (#911)
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

fix: update CiliumCon Europe 2026 event URL (#910)
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Labels: none

fix: correct DigitalOcean case study URL on tool-consolidation page
  src/pages/outcomes/tool-consolidation.jsx
Labels: bug, feature

fix: correct DigitalOcean case study URL on tool-consolidation page (#912)
  src/pages/outcomes/tool-consolidation.jsx
Labels: bug, feature

fix: resolve horizontal overflow on blog page at 1280-1321px
  src/components/pages/blog/featured-posts/featured-posts.jsx
  src/components/shared/container/container.jsx
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
Labels: bug, feature

fix: add dark mode text colors to telling-story success message
  src/components/pages/telling-story/hero/form/form.jsx
Labels: bug, feature

fix: add dark mode text colors to subscribe success message
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

fix: use text-black for subscribe success message
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

fix:search modal appears behind navigation header Fixes #917
  src/components/shared/search/search.jsx
Labels: bug, feature

fix: add dark mode text colors to subscribe success message (#916)
  src/components/shared/subscribe-form/subscribe-form.jsx
Labels: bug, feature

fix: add dark mode text colors to telling-story success message (#915)
  src/components/pages/telling-story/hero/form/form.jsx
Labels: bug, feature

Add Bedrock to adopters page
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix:search modal appears behind navigation header Fixes #917 (#918)
  src/components/shared/search/search.jsx
Labels: bug, feature

fix: add missing rel=noopener noreferrer on external links (#900)
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/labs/banner/banner.jsx
  src/components/shared/banner/banner.jsx
Labels: bug, feature

docs: clarify run command (#863)
  README.md
Labels: docs

fix(pages): cleanup industry pages and fix broken links
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/shared/footer/footer.jsx
  src/pages/adopters.jsx
  src/pages/industries/ai.jsx
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/software.jsx
Labels: bug, feature

fix: revert global container padding change per review feedback
  src/components/shared/container/container.jsx
Labels: bug, feature

fix: improve smoothScroll to preserve modified-click behavior and handle missing elements
  src/components/shared/link/link.jsx
Labels: bug, feature

fix: industry pages typos, broken links and cleanup case studies data
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  src/pages/industries/edge-computing.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/use-cases/ingress.jsx
  src/utils/case-studies-data.js
Labels: bug, feature, chore

revert local setup changes
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  src/pages/use-cases/ingress.jsx
Labels: bug, feature, chore

fix: industry pages typos, broken links and cleanup case studies data (#926)
  src/pages/industries/edge-computing.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: resolve horizontal overflow on blog page at 1280-1321px (#914)
  src/components/pages/blog/featured-posts/featured-posts.jsx
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
Labels: bug, feature

style: remove trailing whitespace in smoothScroll
  src/components/shared/link/link.jsx
Labels: bug, feature

perf(utils): optimize Gatsby GraphQL queries and add safety checks
  gatsby-node.js
Labels: chore

Add Bedrock to adopters page
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: replace Bedrock logo with official SVG without padding
  src/components/shared/user-community/images/bedrock.inline.svg
Labels: feature

fix: logo justified left
  src/components/shared/user-community/images/bedrock.inline.svg
Labels: feature

remove trail period
  src/utils/case-studies-data.js
Labels: bug
