Repository cilium/cilium.io, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, docs, chore, images

fix(components): add celonis to adopters list
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Labels: bug, feature

fix(components): add celonis to adopters list
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: increase celonis logo size to match other logos
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

feat: add falco migrate blog
  src/posts/2026-01-19-tetragon-falco-migrate/cover.png
  src/posts/2026-01-19-tetragon-falco-migrate/illustration1.png
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Labels: docs

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

feat: add vnpt to adopters page (#847)
  src/components/pages/adopters/logos/images/vnpt.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/vnpt.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: remove duplicate FlipkartLogo import and entry
  src/components/pages/adopters/logos/images/flipkart.inline.svg
Labels: feature

fix: correct flipkart logo import order
  src/components/pages/adopters/logos/logos.jsx
Labels: bug, feature

fix: add celonis to adopters destructuring and fix syntax in case-studies-data
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

fix: resolve merge conflicts with main
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Add button text, URL, and target to userCommunity2
  src/pages/adopters.jsx
Labels: bug, feature

chore: enlarge the celonis logo
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

chore: enlarge the celonis logo
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

chore: enlarge the celonis logo
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

feat: added flipkart as a cilium adopter
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

chore: enlarge the celonis logo
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: make celonis logo visible by adjusting SVG transform
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: optimize celonis logo viewbox for proper rendering
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: add currentColor fill to celonis logo paths
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: close svg tags properly in celonis logo
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: make celonis logo visib le by adjusting SVG transform
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: make celonis logo visib le by adjusting SVG transform
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: adjust image size
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: adjust image size
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: adjust image size
  src/components/shared/user-community/images/celonis-inline.svg
Labels: feature

fix: adjust image size
  src/components/shared/user-community/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: adjust image size
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

fix: adjust image size
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Labels: feature

feat: update Flipkart logo
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
Labels: feature

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Labels: bug

feat: added flipkart as a cilium adopter (#850)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Add Celonis adopter card
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Labels: bug, feature

Remove Celonis from e-commerce industry page
  src/pages/industries/e-commerce.jsx
Labels: bug, feature

add 2026 predictions blog
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
Labels: docs

Add files via upload
  src/posts/2025-01-21-2026-predictions-vmblog/predictions.png
Labels: docs

Update date
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
Labels: docs

Add 2026 predictions blog (#855)
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
  src/posts/2025-01-21-2026-predictions-vmblog/predictions.png
Labels: docs

Add UW-Madison case study and talk
  src/utils/case-studies-data.js
Labels: bug

move UW-Madison to adopters
  src/pages/adopters.jsx
Labels: bug, feature

add airbnb and tiktok
  src/utils/case-studies-data.js
Labels: bug

.github/labeler.yml:

bug:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'

feature:
  - 'src/components/**'
  - 'src/pages/**'
  - 'src/templates/**'
  - 'src/hooks/**'

docs:
  - 'docs/**'
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'src/posts/**'

chore:
  - 'package.json'
  - 'package-lock.json'
  - 'Makefile'
  - '.github/**'
  - 'gatsby-config.js'
  - 'gatsby-node.js'
  - 'gatsby-browser.js'
  - 'gatsby-ssr.js'
  - 'Dockerfile'

# Images or media updates
images:
  - 'src/images/**'
  - 'static/**'
